@page "/Account/UserInfo"
@attribute [Authorize]

<section>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde officia saepe maxime non, natus alias rem error
    molestiae porro, illo perspiciatis accusantium. Tempore aliquam et fugiat, architecto vel praesentium eum.
  </div>

  <div class="my-3">
      <h3>User info</h3>
      <AuthorizeView>
    <Authorized>
      <div><span>Logged as <span>@context.User?.Identity?.Name</span> </span></div>
      <ul class="list-group">
        @foreach (var claim in context.User.Claims)
        {
          <li class="list-group-item">@claim.Type: @claim.Value</li>
        }

      </ul>

      <div class="my-3">
        <NavLink href="/Account/Logout" class="btn btn-outline-info">LogOut</NavLink>
      </div>

    </Authorized>
  </AuthorizeView>

  </div>
</section>

@code {
}
