@* <CascadingAuthenticationState> *@
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <Authorizing>
                    <div>Authenticating...</div>
                </Authorizing>
                <NotAuthorized>
                    <span>Redirecting...</span>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
    </Router>
@* </CascadingAuthenticationState> *@
