@page "/"
@using WebApp2.Components.UI

<PageTitle>Home</PageTitle>

<section>
  <div>
    <p class="text-pretty  py-2 rounded-md">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, sit perferendis nihil non minus ipsum ducimus
      suscipit est aperiam quidem, placeat quisquam quia omnis tempora enim soluta, natus excepturi. Sed?
    </p>
  </div>

  <div>
    <h3>Components</h3>
    <AuthorizeView>
      <NotAuthorized>
        <p class="">Please, <NavLink href="/Account/Login">Login</NavLink> to see components</p>
      </NotAuthorized>

      <Authorized>
        <div class="my-3 flex flex-row flex-wrap gap-3">
          <Counter />
          <Counter Step="3" />
          <Counter Step="2" />
          <Counter Step="10" />
        </div>
      </Authorized>
    </AuthorizeView>
  </div>
</section>