@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<div><p>ShowInCelcius @MyCascadeState.ShowInCelcius</p></div>

Welcome to your new app.

@code{
  [CascadingParameter]public CascadeStateComponent MyCascadeState { get; set; }
}
