@tailwind base;
@tailwind components;
@tailwind utilities;

p {
	@apply text-sm  text-slate-600;
	line-height: 1.4;
	padding: 15px;
	max-width: 80ch;
	font-size: 16px;
}


.nav-link {
	@apply flex flex-row items-center gap-2;
}
